.card-list {
	width: 100%;
	margin: 70px 0 0;
	padding: 0 70px 0;
	box-sizing: border-box;
}

.card-list__items {
	margin: 0;
	padding: 0 0 10px;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(364px, 282px));
	gap: 37px 24px;
	align-items: center;
	justify-items: center;
	justify-content: center;
}

.card-list__items_size_b {
	padding: 0 0 247px;
}

.card-list__text {
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0em;
}

@media screen and (max-width: 1023px) {
	.card-list {
		padding: 0 30px 0;
	}

	.card-list__items {
		padding: 0 0 30px;
		grid-template-columns: repeat(auto-fit, minmax(339px, 282px));
		gap: 30px;
	}

	.card-list__items_size_b {
		padding: 0 0 170px;
	}
}

@media screen and (max-width: 424px) {
	.card-list {
		margin: 40px 0 0;
		padding: 0 10px 0;
	}

	.card-list__items {
		padding: 0 0 26px;
		grid-template-columns: repeat(auto-fit, minmax(300px, 282px));
		gap: 14px;
	}

	.card-list__items_size_b {
		padding: 0 0 166px;
	}
}