.form {
	width: 100%;
	background: #202020;
	height: 100%;
	min-height: 100vh;
}

.form__container {
	width: 100%;
	max-width: 396px;
	margin: 0 auto;
	padding: 70px 0;
}

.form__link {
	display: block;
	height: 38px;
	width: 38px;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.form__link:hover {
	opacity: 0.8;
}

.form__title {
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
	margin: 40px 0;
}

.form__auth {}

.form__wrapper {}

.form__wrapper:not(:first-child) {
	margin-top: -2px;
}

.form__caption {
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0em;
	text-align: left;
	color: #8b8b8b;
	margin: 0 0 10px;
}

.form__input {
	font-size: 13px;
	font-weight: 400;
	line-height: 15.73px;
	letter-spacing: 0em;
	text-align: left;
	width: 100%;
	min-height: 46px;
	border-radius: 8px;
	background-color: #2f2f2f;
	border: 0;
	padding: 0 15px;
	box-sizing: border-box;
	outline: none;
	color: #fff;
}

.form__input:focus {
	border: 1px solid #A0A0A0;
}

.form__input_error {
	border: 1px solid red;
	color: #EE3465;
}

.form__error {
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0em;
	text-align: left;
	color: #EE3465;
	display: block;
	margin-top: 10px;
	visibility: visible;
	min-height: 12px;
}

.form__error_hidden {
	visibility: hidden;
}


.form__error_type_server {
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	margin-top: 35px;
	min-height: 14px;
	margin-bottom: 20px;
}

.form__error_margin {
	margin-top: 123px
}

.form__button {
	font-size: 14px;
	font-weight: 500;
	line-height: 16.94px;
	letter-spacing: 0em;
	text-align: center;
	width: 100%;
	height: 45px;
	background: #4285F4;
	color: #fff;
	border-radius: 3px;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.form__button:hover {
	opacity: 0.8;
}

.form__button_disable {
	background-color: #2f2f2f;
	color: #8b8b8b;
	cursor: no-drop;
}

.form__text {
	font-size: 14px;
	font-weight: 400;
	line-height: 16.94px;
	letter-spacing: 0em;
	text-align: center;
	color: #8b8b8b;
	margin: 16px 0 0;
}

.form__link-footer {
	color: #4285F4;
	text-decoration: none;
	margin-left: 6px;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.form__link-footer:hover {
	opacity: 0.7;
}

@media screen and (max-width: 1023px) {
	.form__container {
		padding: 232px 0;
	}
}

@media screen and (max-width: 424px) {
	.form__container {
		max-width: 260px;
		padding: 56px 0 30px;
	}

	.form__link {
		text-align: center;
	}

	.form__title {
		margin: 50px 0 80px;
		text-align: center;
	}

	.form__error_type_server {
		margin-top: 123px;
	}

	.form__error_margin {
		margin-top: 211px
	}

	.form__button {
		font-size: 12px;
		line-height: 15px;
	}

	.form__text {
		font-size: 12px;
		line-height: 15px;
		margin: 14px 0 0;
	}
}