.promo {
	background-color: #073042;
	position: relative;
}

.promo__title {
	margin: 0 auto;
	padding: 184px 0 224px 0;
	font-size: 50px;
	font-weight: 400;
	line-height: 58px;
	letter-spacing: -0.04em;
	text-align: center;
	width: 100%;
	max-width: 730px;
}

.logo-promo {
	width: 320px;
	height: 320px;
	/* z-index: 1; */
	position: absolute;
	/* left: 37.5%;
	top: 15.5%; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 1023px) {
	.promo__title {
		padding: 326px 0 342px 0;
	}

}

@media screen and (max-width: 424px) {
	.promo__title {
		padding: 207px 0 246px 0;
		font-size: 31px;
		line-height: 39px;
		max-width: 300px;
	}

	.logo-promo {
		width: 248px;
		height: 248px;
		top: 47%;
	}
}