.search-form {
	position: relative;
}

.search-form__container {
	display: flex;
	flex-direction: column;
}

.search-form__input {
	width: 100%;
	background: #2F2F2F;
	height: 46px;
	border-radius: 40px;
	border: none;
	padding: 0 0 0 22px;
	margin: 0;
	box-sizing: border-box;
	font-size: 13px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0px;
	text-align: left;
	color: #fff;
	outline: none;
}

.search-form__input:focus {
	border: 1px solid #A0A0A0;
}

.search-form__button {
	position: absolute;
	width: 80px;
	height: 34px;
	background-image: url(../../images/button-search.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80px 34px;
	background-color: rgba(47, 47, 47, 0);
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	transform: translate(-50%, -50%);
	top: 22.8px;
	right: -34px;
}

.search-form__button:hover {
	opacity: 0.8;
}

.search-form__error {
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0em;
	text-align: left;
	color: #EE3465;
	align-self: center;
	margin-top: 10px;
	/* display: none; */
	visibility: visible;
	height: 12px;
}

.search-form__error_hidden {
	visibility: hidden;
}


@media screen and (max-width: 424px) {
	.search-form__input {
		padding: 0 0 0 19px;
		font-size: 11px;
	}
}