.header {
	width: 100%;
	background: #073042;
	margin: 0 auto;
	max-height: 74px;
}


.header__container {
	width: 100%;
	/* max-width: 1140px; */
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 70px;
	box-sizing: border-box;
}

.header__navigation {
	display: flex;
	align-items: center;
}

.header__link {
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	color: #fff;
	text-align: center;
	max-height: 74px;
}

.header__link:not(:first-child) {
	margin-left: 16px;
}

.header__logo {
	width: 100%;
	max-width: 38px;
	height: 38px;
	margin: 18px 29px 18px 0;
}

.header__link-account {
	width: 100px;
	height: 32px;
}

.header__account-icon {
	width: 100px;
	height: 32px;
	margin-top: 3px;
	object-fit: none;
}

.header__authorization {
	display: flex;
	align-items: center;
}

.header__link-authorization {
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	text-decoration: none;
	color: #fff;
	text-align: center;
}

.header__link-authorization:last-child {
	margin-left: 30px;
}

.header__link-authorization_theme_green {
	color: black;
	padding: 8px 20px;
	background: #3DDC84;
	border-radius: 3px;
}

@media screen and (max-width: 1023px) {
	.header__container {
		padding: 0 30px;
	}

}

@media screen and (max-width: 424px) {
	.header__container {
		padding: 0 14px;
	}

	.header__link-authorization {
		font-size: 10px;
	}

	.header__link-authorization:last-child {
		margin-left: 14px;
	}

	.header__link-authorization_theme_green {
		padding: 5px 12px;
	}
}