.header {
	width: 100%;
	background: #202020;
	margin: 0 auto;
	height: 74px;
	display: flex;
	align-items: center;
}

.header_color_blue {
	background: #073042;
}

.header__container {
	width: 100%;
	margin: 0 auto;
	padding: 0 70px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.header__navigation {}

.header__logo {
	display: block;
}

.header__wrapper {
	flex: 1 1;
}

.header__link {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.header__link:hover {
	opacity: 0.8;
}

.header__link {
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	text-decoration: none;
	color: #fff;
	text-align: center;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	margin-right: 45px;
}

.header__link:hover {
	opacity: 0.7;
}

.header__link_theme_green {
	color: black;
	padding: 8px 20px;
	background: #3DDC84;
	border-radius: 3px;
}

.header__link_theme_green:hover {
	opacity: 0.8;
}

.header__link-account {
	display: none;
}

.header__link-account_active {
	display: block;
	width: 100px;
	height: 32px;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.header__link-account_active:hover {
	opacity: 0.8;
}

.header__button {
	width: 100px;
	height: 32px;
	background-image: url(../../images/account.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px 32px;
	background-color: rgba(32, 32, 32, 0);
	box-shadow: 0px 3px 14px 0px #00000014;
	border-radius: 40px;
}

@media screen and (max-width: 1023px) {
	.header__container {
		padding: 0 30px;
	}

	.header__navigation {
		display: none;
	}

	.header__wrapper {
		flex: 0;
	}

}

@media screen and (max-width: 424px) {
	.header__container {
		padding: 0 14px;
	}
}