.about {
	width: 100%;
	background: #202020;
	padding: 110px 0;
}

.section__container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

.section__title {
	font-size: 22px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: -0.04em;
	margin: 0;
	padding-bottom: 23px;
	border-bottom: 1px solid #DADADA;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.list__cell {
	width: 100%;
	max-width: 550px;
}

.list__heading {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.04em;
	margin: 70px 0 26px;
}

.list__text {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	margin: 0 0 110px;
	padding: 0;
}

.deadlines {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: 228px 1fr;
}

.deadlines__cell {
	width: 100%;
}

.deadlines__text {
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
	margin: 0 0 14px;
	padding: 9px 0;
	background: #303030;
}

.deadlines__text_theme_green {
	color: black;
	background: #3DDC84;
}

.deadlines__caption {
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	letter-spacing: 0px;
	text-align: center;
	margin: 0;
	padding: 0;
	color: #8B8B8B;
}