.footer {
	width: 100%;
	background: #202020;
}

.footer__wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0 70px;
	box-sizing: border-box;
}

.footer__text {
	font-size: 13px;
	font-weight: 400;
	line-height: 15.73px;
	letter-spacing: 0px;
	text-align: center;
	color: #8b8b8b;
	margin: 0;
	padding: 79px 0 20px 0;
	border-bottom: 1px solid #424242;
}

.footer__container {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
}

.footer__copyright {
	font-size: 13px;
	font-weight: 400;
	line-height: 15.73px;
	letter-spacing: 0px;
	margin: 0;
}

.footer__links {
	display: flex;
}

.footer__link {
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.73px;
	letter-spacing: 0px;
}

.footer__link:not(:last-child) {
	margin-right: 20px;
}

@media screen and (max-width: 1023px) {
	.footer__wrapper {
		padding: 0 30px;
	}
}