.navTab {
	height: 66px;
	background: #272727;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navTab__container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navTab__link {
	font-size: 13px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0px;
	color: #fff;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.navTab__link:hover {
	opacity: 0.7;
}

.navTab__link:not(:last-child) {
	margin-right: 40px;
}

@media screen and (max-width: 424px) {
	.navTab__link {
		font-size: 11px;
	}

	.navTab__link:not(:last-child) {
		margin-right: 24px;
	}
}